spring:
  datasource:
    url: jdbc:mysql://localhost:3306/rewind?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
    username: root
    password: Illya2006
    driver-class-name: com.mysql.cj.jdbc.Driver
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
  mail:
    host: ${MAIL_HOST:localhost}
    port: ${MAIL_PORT:25}
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail.smtp.auth: ${MAIL_SMTP_AUTH:false}
      mail.smtp.starttls.enable: ${MAIL_SMTP_STARTTLS:false}

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    show-sql: true
    defer-datasource-initialization: true
  server:
    error:
      include-message: always
      include-binding-errors: always

app:
  jwt:
    secret: "super_long_demo_secret_please_change_me_1234567890"
    expiration-minutes: 120
  security:
    reset-password:
      token-ttl-minutes: 30
      frontend-reset-url: ${FRONTEND_RESET_URL}
      token-pepper: ${RESET_TOKEN_PEPPER}
