.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 80px;
  color: white;
  z-index: 10;
}

/* LOGO */

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 184px;
  height: 30px;
  object-fit: contain;
}

/* NAV */

.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  gap: 40px;
  font-size: 14px;
  opacity: 0.9;
}

.nav a {
  cursor: pointer;
  transition: 0.2s;
}

.nav a:hover {
  opacity: 1;
  color: white;
}

/* SEARCH */

.search {
  font-size: 18px;
  cursor: pointer;
  opacity: 0.75;
  transition: 0.2s;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.search:hover {
  opacity: 1;
}